/*
button {
  background-color: red;
  border-style: none;
  width: 30vw;
  height: 30vw;
  border-radius: 30vw;
  margin-bottom: 5vw;
  color: #fff;
  font-size: 4rem;
  box-shadow: 0 .7rem 1rem rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
}
button:focus {
  outline: 0;
}
button.mousedown {
  box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.7);
}
*/
/* TODO: http://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
